.information {
    color: #030B2F;
    font-size: 20px;
    font-weight: bold;
    margin-top: 54px;
}

.information-setup {
    margin-bottom: 16px;
    color: #030B2F;
    font-size: 20px;
    font-weight: bold;

}

.card_number-setup {
    margin-top: 20px;
    margin-bottom: 16px;
    color: #030B2F;
    font-size: 16px;
    font-weight: bold;

}

.btn-forgot {
    margin-top: 16px;
    text-decoration: underline;
    color: #000;
}

.btn-forgot:hover {
    cursor: pointer;
}

.forgotLine {
    margin-top: 26px;
    width: 100%;
    height: auto;
}

.boxUserProfile {
    margin-top: 21px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    position: relative;


}

.boxUserProfile:hover {
    cursor: pointer;
}

.userProfile {
    width: 65px;
    height: 65px;
    border-radius: 100px;
}

.image-profile {
    width: 55px;
    height: 55px;
    border-radius: 100px;
}

.box-userProfile {
    margin-top: 35px;
    margin-left: 140px;
    background-color: #ffffff;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
}

.box-edit-profile {
    margin-top: 42px;
    margin-left: 54px;
    background-color: #ffffff;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
}

.box-profile-image-home {
    width: 100%;
    margin-top: 48px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}

.box-nam-profile {
    margin-left: 8px;
}



.brokerage-work {
    margin-top: 38px;
    color: #030B2F;
    font-size: 20px;
    font-weight: bold;
}

.details-word {
    color: #007BA7;
    font-size: 12px;
}

.contract {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}



.free-trial {
    text-align: center;
    margin-top: 32px;
    color: #007BA7;
    font-size: 20px;
    font-weight: bold;
}

.container-box-free {
    display: flex;
    justify-content: center;

    /* ทำให้ container เต็มหน้าจอในแนวตั้ง */
}

.container-box-step {
    display: flex;
    justify-content: center;
    margin-top: 36px;

    /* ทำให้ container เต็มหน้าจอในแนวตั้ง */
}


.box-free-image {

    width: 128px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B8D7E2;
    background-color: #B8D7E2;
    border-radius: 50px;
}

.free-image {
    width: 15px;
    height: 15px;
    margin-right: 5px;

}

.free-text {
    font-size: 11px;
    color: #000000;
}

.free-step {
    width: 332px;
    height: 425px;
}

.day-free {
    font-size: 14px;
    margin-top: 48px;
    text-align: center;
    color: #7C7C7C;
}

.month-free {
    font-size: 14px;
    text-align: center;
    color: #7C7C7C;
}

.month-299 {
    color: #000000;
    font-size: 14px;
}

.get-started {
    margin-top: 12px;
    background-color: #007BA7;
    width: 300px;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    border-radius: 6px;
}

.plans-all {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-bottom: 65px;
}

.free-go-back {
    margin-left: 10px;
    position: absolute;
    width: 24px;
    height: 24px;
}

.head-plans {
    margin-top: 16px;
    width: 340px;
    height: 60px;
}

.upgrade-now {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 16px;
}

.plans-pro-premium-img {
    width: 153px;
    height: 219px;
}

.container-pro-premium {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.compare-plans {
    margin-top: 24px;
    margin-left: 36px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.compare-plans-img {
    margin-top: 12px;
    width: 390px;
    height: 283px;
    margin-bottom: 64px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.pagination li {
    margin: 5px;
}

.pagination li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
}

.pagination li.active a {
    background-color: #ef742d;
    color: white;
}

.form-search {
    position: relative !important;
}

.icon-search {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 25px;
    margin-top: 35px;
}

.icon-menu-home {
    width: 30px !important;
    height: 30px !important;
}

.box-head-home {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 32px;
}

.box-search-home {
    margin-top: -16px;
    display: flex;


}

.box-filter-home {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.icon-filterData {
    width: 75px;
    height: 36px;
}

.vector-icon {
    width: 28px;
    height: 30px;
}

.icon-filter {
    width: 98px;
    height: 36px;
}

.icon-filterLove {
    width: 109px;
    height: 36px;
}

.box-number-count {
    position: relative !important;
}

.number-count {
    width: 22px;
    height: 20px;
    background-color: #E34234;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: -8px;
}


.no-underline {
    text-decoration: none;
    color: #000000;
}


.box-nav-link-home {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
}

.box-link-manu-home {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    height: 42px;
    background-color: var(--white_200);
    font-size: 16px;
    color: #000000;
}

.box-link-manu-home.active {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    height: 42px;
    background-color: #80BDD0;
}



.home-head .nav-link-decoration,
.nav-link-decoration2 {
    display: none;
}

.home-head .nav-link.active+.nav-link-decoration,
.nav-link.active+.nav-link-decoration2 {
    display: block;
}

.nav-link-decoration {
    margin-top: -5px;
    width: 118px;
    height: 5.8px;
    background-color: #007BA7;
    border-radius: 50px;
    position: absolute;
    left: 13%;
    transform: translateX(-13%);
}

.nav-link-decoration2 {
    margin-top: -5px;
    width: 118px;
    height: 5.8px;
    background-color: #007BA7;
    border-radius: 50px;
    position: absolute;
    right: 7%;
    transform: translateX(-7%);
}

.auto-name {
    margin-top: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.auto-email {
    margin-top: -10px;
    color: #7C7C7C;
    font-size: 8px;
}

.auto-account {
    margin-top: -8px;
    color: #000000;
    font-size: 8px;
}

.icon-account {
    width: 11px;
    height: 11px;
    margin-right: 4;
}

.box-profile-manu {
    margin-top: 64px;
    margin-left: 24px;
}

.offcanvas-body {
    display: flex;
    align-items: end;
    margin-bottom: 35px;
}

.back-home {
    font-size: 14px;
    font-weight: bold;
    color: #007BA7;
}

.icon-account-manu {
    margin-top: -4px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.icon-account-manu-2 {

    width: 11px;
    height: 11px;
    margin-left: 4px;
}

.manu-bar-profile {
    font-size: 14px;
    color: #000000;
    margin-top: 32px;
}

.manu-bar-profile .toggle-menu {
    display: none;
}

.manu-bar-profile .menu-items {
    display: none;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 30px;


}

.manu-bar-profile .menu-items li {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.manu-bar-profile .menu-items li a {
    text-decoration: none;
    color: #000;
}

.manu-bar-profile .menu-items li:hover {
    background-color: #BDE3FF;
    width: 300px;
    border-radius: 4px;

}

.manu-bar-profile .toggle-menu:checked~.menu-items {
    display: block;
}

.manu-bar-profile .upgrade-plan {
    cursor: pointer;
}

.icon-stat_minus_1 {

    width: 16px;
    height: 16px;
}

.upgreade-plan-pro {
    font-size: 16px;
    color: #FAA631;
    text-align: center;
    font-weight: bold;
    margin-top: 23px;
}

.upgrade-dow {
    font-size: 16px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 23px;
}

.free-trial-box-nav {
    padding-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frame-pro {
    width: 339px;
    height: 46px;
    margin-top: 24px;
}

.box-setup-profile {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
}

.Frame584 {
    width: 20px;
    height: 20px;
}

.box-profile-setup {
    margin-top: -16px;
}

.card_image {
    width: 100%;
    height: 179px;
    background-color: #F4F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.group78 {
    position: absolute;
    width: 102px;
    height: 63;
}

.contact-setup {
    margin-top: -18px;
    color: #808080;
    font-size: 12px;
}

.search-filter {
    margin-top: 32px;
    width: 359px;
    height: 36px;
    margin-bottom: 9px;
}

#home-tab.box-link-manu-home.active {
    border-top-right-radius: 4px;
}

#profile-tab.box-link-manu-home.active {
    border-top-left-radius: 4px;
}

.row-box {
    display: flex;
    justify-content: flex-start;
    /* Align items to the left */
    gap: 20px;
    /* Add space between the boxes */
}

.filter-box {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    /* Default background color */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 155px;
    height: 54px;
}

.filter-box.selected {
    background-color: #007BA7;

    /* Selected background color */
}

.filter-box.selected p {

    color: #FFFFFF;
    /* Selected background color */
}



.filter-box p {
    margin: 0;
    color: #000;
    /* Text color */
}

.select-color {
    margin-top: 12px;
    background-color: #B8D7E2;
}

.filter-box-input {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 24px;
}

.filter-box-input input[type="radio"] {
    display: none;
    /* Hide the radio buttons */
}



.filter-box-input.selected {
    background-color: #007BA7;
    color: #FFFFFF;
}

.icon-location {
    width: 20px;
    height: 20px;
}

.icon-search-box {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.icon-frame648 {
    width: 100%;
    height: 36px;
    max-width: 360px;
}

.box-free-customer {
    padding-left: 21px;
    padding-right: 21px;
}

.contract-type {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.co-agent {
    margin-top: 26px;
    color: #030B2F;
    font-size: 16px;
    margin-bottom: 24px;
}

.filter-box-input2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 57px;
    height: 36px;
}

.filter-box-input2 input[type="radio"] {
    display: none;
    /* Hide the radio buttons */
}



.filter-box-input2.selected {
    background-color: #007BA7;
    color: #FFFFFF;
}

.price-range {
    font-size: 16px;
    color: #030B2F;
    font-weight: bold;
}

.margin-wants-box {
    margin-top: 16px;
}

.wants-box {
    width: 358px;
    height: "100%";
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 16px;
}

.wants-box-icon {
    width: "100%";
    height: 50px;
}

.ass-box-icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 8px;
}

.icon-cottage {
    width: 20px;
    height: 20px;
}

.icon-cottage-user {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.icon-cottage-text {
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.ass-box-sale {
    background-color: #FAA631;
    width: 56px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 12px;
}

.ass-box-rent {
    background-color: #007BA7;
    width: 56px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 12px;
}

.ass-price_start {
    font-size: 14px;
    font-weight: 700;
    color: #007BA7;
}

.special-characteristics {
    font-size: 12px;
    height: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8D7E2;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 6px;
    color: #014158;
    margin-right: 8px;
    margin-bottom: 8px;

}

.message_customer {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.station_name_th {
    font-size: 12px;
    font-weight: 400;
    color: #424862;
}

.ass-hr {

    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    width: 90% !important;
    color: #B8D7E2;
    margin-bottom: 12px;
}

.ass-user {
    display: flex;
    justify-content: space-between;
}

.ass-icon-line {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.row-ass {
    display: flex;
    flex-wrap: wrap;
    /* เพื่อให้รายการสามารถขึ้นบรรทัดใหม่ได้ */
    gap: 2px;
    /* เว้นช่องว่างระหว่างรายการ */
}

.box-dan-name {
    margin-left: 8px;
}

.dan-name {
    font-size: 12px;
    font-weight: 400px;
    color: #030B2F;
}

.dan-time {
    margin-top: -10px;
    font-size: 12px;
    font-weight: 400px;
    color: #7C7C7C;
}

.ass-hr-wants {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;

    margin-bottom: 12px;
    position: relative;
    color: #007BA7;
}

.ass-hr-wants::before,
.ass-hr-wants::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #007BA7;
}

.ass-hr-wants::before {
    margin-right: 15px;
    /* ระยะห่างระหว่างเส้นกับข้อความ */
}

.ass-hr-wants::after {
    margin-left: 15px;
    /* ระยะห่างระหว่างเส้นกับข้อความ */
}

.ass-hr-wants>span {
    white-space: nowrap;
}

.box-head-personal-web {
    display: flex;

    justify-content: space-between;
}

.free-trial-box-nav-web {
    padding-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.box-nav-web {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 42px;
}



.offcanvasManu-web {
    margin-top: 32px;
    margin-left: 16px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.toggle-button {

    background-color: #FEE8C7;
    margin-top: 24px;
    width: 350px;
    height: auto;
    padding: 12px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #CB7D10;
    font-weight: 600;
    transition: background-color 0.3s ease, border-radius 0.3s ease;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.toggle-button.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.toggle-button::after {
    content: '';
    position: absolute;
    justify-content: center;
    margin-left: 8px;

    width: 20px;
    /* ปรับขนาดของรูปภาพ */
    height: 20px;
    /* ปรับขนาดของรูปภาพ */
    background-image: url('/assets/image/welcome/navigate_next_do.png');
    /* ระบุที่อยู่ของภาพ */
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.toggle-button.active::after {
    transform: rotate(180deg);

}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    background-color: #FEE8C7;
    border-top: none;
    transition: max-height 0.3s ease, padding 0.3s ease;
    width: 350px;
    height: 100%;
}

.toggle-content.active {
    max-height: 237px;
    /* ปรับตามความสูงของคอนเทนต์ */
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #CB7D10;
}

.read-benefits {
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400px;
    color: #014158;
}

.content-image {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.frame660 {
    width: 335px;
    height: 147px;
}

.steps-3 {
    margin-top: 24px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.frame23 {
    margin-top: 24px;
    width: 342px;
    height: 36px;
    margin-bottom: 8px;
}

.parttoedit {
    width: 342px;
    height: 139px;
    margin-bottom: 8px;
}

.box-rectangle {
    position: relative;
    flex-direction: column;
}

.rectangle123 {
    max-width: 390px;
    height: 132px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.frame7 {
    width: 77px;
    height: 36px;
    z-index: 10;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.box-history-profile {
    margin-top: 19px;
    position: relative;
    flex-direction: row;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}

.img-history-profile {

    width: 79px;
    height: 79px;
    border-radius: 100px;

}

.name-history-profile {
    width: 100%;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 0;
}

.name-history-profile-p {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.name-history-profile .input_box {
    margin-top: 16px;
}

.history-box {
    margin-top: 31px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_box2 label {
    display: flex;
    flex-direction: row;
    margin-top: -16px;
    margin-left: 16px;

    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    background-color: var(--white);
    position: absolute;
}

.btn-attention {

    width: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    background-color: var(--white);
    border: 1px solid #E34234 !important;
    color: #E34234;

}

.box-type {
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}